body{
    background-color:#777;
    text-align:center;
    font-family:Arial, Helvetica, sans-serif;
    width:960px;
    font-size:18px;
    color:#777;
    margin:auto;
}

.container{
    width:960px;
}

header{
    background-color:#ebebeb;
    margin:10px;
    padding:25px;
    width:960px;
}

nav{
    background-color:#ebebeb;
    margin:10px;
    padding:25px;
    width:960px;
}

h1{
    background-color:#ebebeb;
    padding:15px;
    margin:10px;
    color:#777;
}

p{
    background-color:#ebebeb;
    padding:15px;
    margin:10px;
    color:#777;
}

aside{
    background-color:#ebebeb;
    width:425px;
    height:300px;
    padding:50px 10px 10ox;
    color:#777;
    float:right;
}

section{
    width:495px;
    padding:50px 10px 10px;
    float:left;
    margin:10px;
    background-color:#ebebeb;
}
article{
    background-color:#777;
    padding:10px;
}

footer{
    clear:both;
    background-color:#ebebeb;
    padding:25px;
    margin:10px;
    width:960px;
}